<div class="navbar bg-base-100">
  <!-- START -->
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl" routerLink="/">
      <div class="border-1 bg-secondary logo p-2 rounded-xl" routerLink="/">
        EC
      </div>
    </a>
  </div>

  <!-- CENTER -->
  <div class="navbar-center flex">
    <ul class="menu menu-sm sm:menu-lg menu-horizontal px-1">
      <li>
        <a routerLink="/">Home</a>
      </li>

      <li>
        <details>
          <summary>Products</summary>
          <ul class="z-30">
            <li><a routerLink="/products">All</a></li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>Admin</summary>
          <ul class="z-30">
            <li><a routerLink="/admin">All</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <!-- END -->
  <div class="navbar-end pe-4 flex align-items-center">
    <div class="dropdown dropdown-end pe-4">
      <div tabindex="0" role="button">
        <fa-icon [icon]="['fas', 'user']" class="text-xl"></fa-icon>
      </div>
      <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
        <li>
          <button class="link">Login</button>
        </li>
      </ul>
    </div>
    <div class="dropdown dropdown-end me-2" routerLink="/cart">
      <div tabindex="0" role="button">
        <fa-icon [icon]="['fas', 'cart-shopping']" class="text-xl"></fa-icon>
      </div>
    </div>
  </div>
</div>